asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==3.0.3
django-background-tasks==1.2.5
django-compat==1.0.15
django-extensions==2.2.8
django-sslserver==0.22
django-heroku==0.3.1
fake-useragent==0.1.11
future==0.18.2
google==2.0.3
Google-Search-API==1.1.14
idna==2.8
lxml==4.5.0
multidict==4.7.4
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
pycparser==2.19
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytrends==4.7.2
pytz==2019.3
PyYAML==5.3
requests==2.22.0
selenium==2.53.6
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
textblob==0.15.3
Unidecode==1.1.1
urllib3==1.25.8
vcrpy==4.0.2
Werkzeug==1.0.0
wrapt==1.11.2
yarl==1.4.2
